<!DOCTYPE html>
<html>
<head>
  <title>Spring Cheat Sheet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <style>
  </style>
</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Advanced Java</h1>
		<h2 class="text-center">Core Java | HTML | CSS | Javascript | Servlet | JSP | MySQL (MariaDB)</h2>
		<p><h1 class="text-center">Spring Web MVC | Hibernate ORM</h1></p>
	</div>
	<div>
		<h2>Day 1</h2>
		<h4>
		<ul>
			<li>Core Java</li>
			<li>Introduction to Web Technologies</li>
			<li>Client-Server Architecture</li>
			<li>HTML Forms</li>
			<li>Java Script (ECMA Script)</li>
			<li>Servlet</li>
			<li>JSP</li>
		<ul>
		</h4>
	</div>
	<div>
		<h2>Day 2</h2>
		<h4>
		<ul>
			<li>Multithreading HiHuku Example</li>
			<li>Servlet</li>
			<li>JSP with Expression Language and JSTL</li>
			<li>Method Overloading</li>
			<li>Method Overriding</li>
			<li>Polymorphism</li>
			<li>Dependency Injection</li>
			<li>Major and Minor Pillars of OOPS</li>
			<li>Introduction to Spring Web MVC</li>
		<ul>
		</h4>
	</div>
	<div>
		<h2>Day 3</h2>
		<h4>
		<ul>
			<li>Handling Request using Controller</li>
			<li>Sending Response in View</li>
			<li>Process Data in Model/Service Class</li>
			<li>JDBC:MySQL Database Connection</li>
			<li>CRUD Operation in Spring MVC</li>
			<li>Hibernate MySQL Connection</li>
			<li>Hibernate Query Language</li>
			<li>Hibernate Native Query</li>
		<ul>
		</h4>
	</div>
	
	<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
	
	<div>
		<h2>Day 4</h2>
		<ul>
			<li>POC</li>
		</ul>
	</div>
</div>
    
</body>
</html>
